/**Font descargada de internet**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/**Arreglos generales**/
*{
    margin: 0px;
    padding: 0px;
    background-color: #24252A;
    font-family: "Montserrat", sans-serif;
}

header{
    margin: 20px auto;
    width: 95%;
    font-size: 18px;
}

ul, ol {
    list-style: none;
}

/*Barra de navegación*/

.navegacion{
    text-align: center;
    border: 2px solid black;
    display: inline-flex;
    box-sizing: content-box;
}

.menu li a {
    background-color: #24252A;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 108px;
}

.menu li a:hover{
    background: green;
    transition: all .5s;
}

.menu > li {
    float: left;
}

.submenu {
    display: none;
    position: absolute;
    align-items: left;
    min-width: 350px;
    border: 2px solid black;
}

.menu li:hover >ul{
    display: block;
}

.submenu li {
    position: relative;
}

.submenu li a:hover{
    color: black;
    background-color: greenyellow;
    transition: all .5s;
}

/**Aquí termina la parte de la barra de navegación**/

.contenido h1{
  color:white;
  text-align: center;
}

.contenido h2{
  color:white;
  padding: 20px 20px;
  margin: 20px 20px;
}

.contenido p{
  color:white;
  padding: 20px 20px;
  margin: 20px 20px;

}

.contenido li{
  color:white;
  padding: 5px 5px;
  margin: 5px 20px;

}
