
/**Font descargada de internet**/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/**Arreglos generales**/
*{
  box-sizing: border-border-box;
  margin: 0;
  padding: 0;
  background-color: #24252A;
  font-family: "Montserrat", sans-serif;

}

header{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

/**Barra de navegación**/
.navegacion{

  text-align: center;
  padding: 10px;
  margin: 20px 20px;
  border: 2px solid black;

}

.menu{
  list-style: none;
  

}

.menu li{
  display: inline-block;
}

.menu ul{
  display: inline-block;
  float: left;
}


.menu li a{
  display: block;
  padding: 15px 10px;
  color: black;

}

.menu li a:hover{
    color: white;
    background: green;
    transition: all .3s;
}

.submenu{
    position: relative;
    z-index: 50;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    list-style: none;
}

.submenu li a{

    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.submenu li a:hover{
    color: black;
    background: greenyellow;
    transition: all .3s;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/**Aquí termina la parte de la barra de navegación
